# AQI Hackathon Git Ignore
*.csv
*.zip
*.pkl
.ipynb_checkpoints/
__MACOSX/
aqi_hackathon_data/
catboost_info/

# System specific
.DS_Store
Thumbs.db

# Large models (explicit)
FINAL_SUBMISSION/best_model.pkl

# Allow specific submission files
!test_output.csv
!model_bundle.zip
!report.docx
